

.form-load {
  float: left;
  margin: 0 0 35px 0;
  width: 650px;
  background: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.4em;
}

.form-load .head {
  padding: 15px 25px 10px;
  border-bottom: solid #e6e6e6 1px;
}

.form-load .head h1 {
  display: inline-block;
  color: #444444;
  font-size: 1.8em;
  font-weight: bold;
}

.form-load .form-year .number {
  display: block;
  float: left;
  width: 60px;
  height: 35px;
  margin: 20px 0 20px 25px;
  padding: 0 12px;
  background: #ffffff;
  border: solid #e6e6e6 1px;
  border-radius: 0.4em;
  color: #444444;
  font-size: 1em;
}

.form-load .form-year .number:hover,
.form-load .form-year .number:focus {
  outline: none;
}

.form-load .form-year .btn {
  display: block;
  float: left;
  width: 90px;
  height: 37px;
  margin: 20px 0 20px 10px;
  background: #6faf9f;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.6em;
  border: none;
  cursor: pointer;
}

.form-load .form-year .btn:hover,
.form-load .form-year .btn:focus {
  background: #538170;
  border: none;
}

.form-load table {
  margin: 30px 25px;
  width: 600px;
  border-left: solid #e6e6e6 1px;
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
}

.form-load th {
  padding: 8px 7px;
  background: #6faf9f;
  color: #ffffff;
  border: none;
  text-align: left;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: capitalize;
}

.form-load th.center {
  text-align: center;
}

.form-load th.view {
  background: #6faf9f;
}

.form-load th.edit {
  background: #3c93a3;
}

.form-load th.delete {
  background: #e94848;
}

.form-load td {
  padding: 8px 7px;
  background: #ffffff;
  color: #444444;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #e6e6e6 1px;
  font-size: 0.9em;
  font-weight: normal;
  text-align: left;
}

.form-load td.center {
  text-align: center;
}

.form-load td button.btnview {
  margin: 0 auto;
  display: block;
  width: 20px;
  height: 20px;
  background: #6faf9f;
  border: none;
  border-radius: 2em;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.form-load td button.btnview:hover,
.form-load td button.btnview:focus {
  background: #538170;
  border: none;
}

.form-load td button.btnedit {
  margin: 0 auto;
  display: block;
  width: 20px;
  height: 20px;
  background: #3c93a3;
  border: none;
  border-radius: 2em;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.form-load td button.btnedit:hover,
.form-load td button.btnedit:focus {
  background: #356694;
  border: none;
}

.form-load td button.btndelete {
  margin: 0 auto;
  display: block;
  width: 20px;
  height: 20px;
  background: #e94848;
  border: none;
  border-radius: 2em;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.form-load td button.btndelete:hover,
.form-load td button.btndelete:focus {
  background: #aa3535;
  border: none;
}

.form-load th a {
  color: #ffffff;
  font-size: 1.4em;
  text-decoration: none;
}

.form-load tr:hover td {
  background: #f4fdf3;
}

.form-load .pages {
  margin: 40px 0 25px 25px;
}

.form-load .pages:after {
  display: block;
  content: "";
  clear: both;
}

.form-load .pages ul li {
  list-style: none;
}

.form-load .pages ul li button {
  float: left;
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: #6faf9f;
  border: solid #538170 3px;
  border-radius: 2em;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: bold;
}

.form-load .pages ul li button:hover,
.form-load .pages ul li button:focus {
  background: #538170;
  border: solid #6faf9f 3px;
  cursor: pointer;
}

.form-load .pages ul li.active button {
  background: #538170;
  border: solid #6faf9f 3px;
}

.form-load .pages ul li.active button:hover,
.form-load .pages ul li.active button:focus {
  background: #6faf9f;
  border: solid #538170 3px;
  cursor: pointer;
}
